POSTGRESQL_URI=postgresql://vuonglv:pass==@localhost:5432/appengine
ASYNC_POSTGRESQL_URI=postgresql+asyncpg://vuonglv:pass==@localhost:5432/appengine
TSURU_API_URL=https://tsuru.petprojects.space
TSURU_USERNAME=admin@ipaas.site
TSURU_PASSWORD=*********
DOMAIN=appengine.jp.auth0.com
API_AUDIENCE=http://localhost:8000/api
ISSUER=https://appengine.jp.auth0.com
ALGORITHMS=RS256
